//Mobile
//Small
$smallMainWidth: 320px;
$smallMainHeight: 450px;
$smallBasinInfoWidth: 250px;
$smallBasicInfoHeight: 300px;
$colorFont: aliceblue;
//Medium
$mediumSmallWidth: 400px;
$mediumSmallHeight: 560px;
$mediumSmallInfoWidth: 400px;
$mediumSmallIngoHeight: 420px;
//Big
$bigWidth: 700px;
$bigHeight: 900px;
$bigInfoWidth: 600px;
$bigInfoHeight: 640px;
//Desktop
